
.container{
    display: flex;
    height: 100%;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    button{
        margin: 2rem;
        font-size: large;
        height:6rem;
        width:9rem;
        border:0;
        background-color: white;
        
        color: #4c6ef5;
        font-size: 3rem;
    }
    button:hover{
        background-color: gainsboro;

    }
}